POSTGRES_HOST=localhost
POSTGRES_DB=farm_calendar
POSTGRES_USER=some_user
POSTGRES_PASSWORD=some_pass

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

DJANGO_SECRET_KEY=my-secret-key

GATEKEEPER_LOGIN_URL=http://127.0.0.1:8001/auth/login/

JWT_SIGNING_KEY=some-secret-key
JWT_COOKIE_NAME=OpenAgriAuth

AUTO_CREATE_AUTH_USER=True
EXTRA_ALLOWED_HOSTS=farmcalendar

APP_HOST=0.0.0.0
APP_PORT=8002

LOGGING_LEVEL=DEBUG
