# Folders
**/.git/
**/__pycache__/
**/.venv*/
**/.idea/
**/staticfiles/
**/assets/

# Files
.env
*.sqlite3
*.pdf
*.txt
!requirements.txt
*.log

# Image files - Ignore all, except in the 'static' folder
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.bmp
!static/**/*.*
staticroot/*