{% load static %}
<table id="{{ table_id|default:'datatable' }}" class="table table-bordered dt-responsive nowrap w-100"></table>

<script>

document.addEventListener('DOMContentLoaded', function() {
    const data = JSON.parse('{{ data_json|escapejs }}');

    // Dynamically create columns based on form fields
    const columns = [
        {% for field in data_form %}
            {% if field.name in datatable_fields %}
                { data: 'fields.{{ field.name }}', title: '{{ field.label }}' },
            {% endif %}
        {% endfor %}
        {
            data: null,
            title: 'Operations',
            render: function(data, type, row) {
                const buttonClass = row.fields.status ? 'btn-success' : 'btn-danger';
                return `
                    <button class="btn btn-primary btn-sm edit-row p-2" data-id="${row.pk}"><i class="fas fa-pencil-alt d-block font-size-16"></i></button>
                    <button class="btn btn-danger btn-sm delete-row p-2" data-id="${row.pk}"><i class="fas fa-trash-alt d-block font-size-16"></i></button>
                    <button class="btn btn-sm toggle-active p-2 ${buttonClass}" data-id="${row.pk}"><i class="fas fa-check d-block font-size-16"></i></button>
                `;
            }
        }
    ];

    const rowIdField = '{{ row_id_field|default:"pk" }}';

    $('#{{ table_id|default:"datatable" }}').DataTable({
        data: data,
        rowId: rowIdField,
        columns: columns,
    }).on('click', '.edit-row', function() {
        const id = $(this).data('id');
        window.location.href = '{{ asset_base_url|default:"" }}' + id;
    }).on('click', '.toggle-active', function() {
            const id = $(this).data('id');
            const $this = $(this);
            const isActive = $this.hasClass('btn-success');


            const newStatus = !isActive;
            const newStatusInt = newStatus ? 1 : 0;
            $.ajax({
                url: '{{ asset_base_api_url|default:"" }}' + id + '/',
                method: 'PATCH',
                data: {'status': newStatusInt},
                success: function(response) {
                    // Toggle state visually
                    $this.toggleClass('btn-success btn-danger');
                    if (newStatus) {
                        $this.removeClass('btn-danger').addClass('btn-success');
                    } else {
                        $this.removeClass('btn-success').addClass('btn-danger');
                    }
                    alertify.success("Status updated.");
                },
                error: function(xhr, status, error) {
                    let errorMessage = "Status update failed.";
                    // if (xhr.responseJSON && xhr.responseJSON.message) {
                    //     errorMessage = xhr.responseJSON.message;
                    // }
                    alertify.error(errorMessage);
                }
            });
        }).on('click', '.delete-row', function() {
        const id = $(this).data('id');
        const $row = $(this).closest('tr');
        if (confirm('Are you sure you want to delete this item?')) {
            $.ajax({
                url: '{{ asset_base_api_url|default:"" }}' + id,
                method: 'DELETE',
                success: function(response) {
                    alertify.success('{{model_name}} was deleted.');
                    $('#{{ table_id|default:"datatable" }}').DataTable().row($row).remove().draw();
                },
                error: function(xhr) {
                    alertify.error('Deletion failed.');
                }
            });
        }
    });

});
</script>