<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            OpenAgri
        </div>
        <div class="sidebar-brand-text mx-3"><i class="fas fa-fw fa-calendar-alt"></i></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Heading -->
    <div class="sidebar-heading">
        Farm Activities
    </div>
    <!-- Nav Item for main menu -->
    <li class="nav-item{% if active_page == 'calendar' %} active{% endif %}">
        <a class="nav-link" href="{% url 'calendar' %}">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Calendar</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Farm Locations
    </div>
    <!-- Nav Item for main menu -->
    <li class="nav-item{% if active_page == 'farms' %} active{% endif %}">
        <a class="nav-link" href="{% url 'farms' %}">
            <i class="fas fa-fw fa-leaf"></i>
            <span>Farms</span>
        </a>
    </li>
    <!-- Nav Item for main menu -->
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'farm_parcels' %} active{% endif %}" href="{% url 'farm_parcels' %}">
            <i class="fas fa-fw fa-map"></i>
            <span>Farm Parcels</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Farm Assets
    </div>

    <ul class="navbar-nav ml-3">
        <li class="nav-item{% if active_page == 'crops' %} active{% endif %}">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-carrot"></i>
                <span>Crops</span>
            </a>
        </li>

        <li class="nav-item{% if active_page == 'animals' %} active{% endif %}">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-horse-head"></i>
                <span>Animals</span></a>
        </li>

        <li class="nav-item{% if active_page == 'equipment' %} active{% endif %}">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tractor"></i>
                <span>Equipment</span></a>
        </li>

        <li class="nav-item{% if active_page == 'sensors' %} active{% endif %}">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-satellite-dish"></i>
                <span>Sensors</span></a>
        </li>
    </ul>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>